.bubble {
  stroke: grey;
  stroke-width: 3;
}

.label {
  fill: #696969;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.legendKey {
  fill: #696969;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 12px;
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  font-family: sans-serif;
  font-size: 12px;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 15px;
}

.textdiv {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 12px;
  pointer-events: none;
  overflow: none;
  white-space: nowrap;
}